ALTER PROC [dbo].[HR_spfrmEmpList]
@Activity			VARCHAR(50)='LoadData',
@LanguageID			NVARCHAR(12) = 'VN',
@ReturnMess			NVARCHAR(500) = NULL OUT,
@UserID 			nvarchar(150) = null,
@FunctionID 		nvarchar(50) = null,
@EmpID int = null,

@EmpName			nvarchar(4000) = null,
@LSCompanyID int = null,
@LSLevel1ID int = null,
@LSLevel2ID int = null,
@LSLevel3ID int = null,
@LSLevel4ID int = null,
@LSLevel5ID int = null,
@LSLevel6ID int = null,
@LSLevel7ID int = null,
@LSLevel8ID int = null,
@LSLevel9ID int = null,
@LSLocationID int = null,
@LSKN1ID			nvarchar(12) = null,
@LSKN2ID			nvarchar(12) = null,
@LSJobTitleID int = null,
@Status				nvarchar(2) = null,
@LSLoaiHinhNhanVienID int = null,
--Hlevel
@LSHLevel1ID int = null,
@LSHLevel2ID int = null,
@LSHLevel3ID int = null,
@LSHLevel4ID int = null,
@LSHLevel5ID int = null,
@LSHLevel6ID int = null,
----------------
@EmpListSearch			nvarchar(max) = null,
@NotEmpListSearch		nvarchar(max) = null,
----------------	
@strEmpID			nvarchar(4000) = null,
@strName			nvarchar(4000) = null,
-- LoadData2 - dùng chung cho nhìu form
@multiEmpCode	NVARCHAR(max) = NULL,
@UserGroupID nvarchar(50) = 'Admin',
@EmpCode			nvarchar(4000) = null,
@LSCapBacNhanVienID int = null,
@LSLoaiNhanVienID int = null,
@LSNhomNhanVienID int = NULL,
@StartDateFrom		nvarchar(10) = null,
@StartDateTo		nvarchar(10) = null,
@NgayThoiViec_Tu	NVARCHAR(10) = NULL,
@NgayThoiViec_Den	NVARCHAR(10) = NULL,
@IsChuyenKhoan		nvarchar(2)  = null,
@Month				nvarchar(7)  = null,
@MaTheChamCong		nvarchar(30) = null,
--tim kiem theo nhieu
@strLSLoaiNhanVienID	nvarchar(4000) = null,
-- phan trang
@page				int = 1,
@rownumber			int = 20,
@FromDate			nvarchar(10)='',
@ToDate				nvarchar(10)='',
--Support LogID:
@ExportAll			int = null,
@SearchText			nvarchar(1000) = null,
@LSLocationIDList	nvarchar(max) = '',
@LSJobTitleIDList	nvarchar(max) = '',
/*Theo RlogID = 14816*/
@EHDS_LSLoaiNhanVienID nvarchar(max) =null,
@EHDS_LSNhomNhanVienID nvarchar(max)=null,
@EHDS_LSCapBacNhanVienID nvarchar(max)=null,
@EHDS_LSContractTypeID nvarchar(max)=null,
@EHDS_LSStatusChangeID nvarchar(max)=null,
@EHDS_UserGroupID nvarchar(max)=null,
@EHDS_Email nvarchar(max)=null,
@EHDS_HRCode nvarchar(max)=null,
@EHDS_IDNo nvarchar(max)=null,
@EHDS_MaSoThue nvarchar(max)=null,
@EHDS_AccountNo nvarchar(max)=null,
@EHDS_MaTheChamCong nvarchar(max)=null,
@EHDS_EmpCodeOld nvarchar(max)=null,
--rlogID:14967
@strLSTinhTrangNhanVienID	nvarchar(1000) = null,

@CongTyPhu nvarchar(5) = 'false',-- Rlog 18948
@CongTyChinh nvarchar(5) = 'false',-- Rlog 18948
@SapCode	 nvarchar(50)=null, --ThanhNP24 Rlog 23446
@EvaluationPeriodID int= null
AS	
	declare @dBeginDate datetime, @dEndDate datetime
	declare @dStartDateFrom datetime, @dStartDateTo datetime
			,@dNgayThoiViec_Tu DATETIME,@dNgayThoiViec_Den datetime
	set @dBeginDate = convert(datetime, '01/01/1950', 103)
	set @dEndDate = convert(datetime, '01/01/2100', 103)
	set @dStartDateFrom = convert(datetime, case when isnull(@StartDateFrom, '') = '' then '01/01/1950' else @StartDateFrom end, 103)
	set @dStartDateTo = convert(datetime, case when isnull(@StartDateTo, '') = '' then '01/01/2100' else @StartDateTo end, 103)

	SET @dNgayThoiViec_Tu = convert(datetime, case when isnull(@NgayThoiViec_Tu, '') = '' then '01/01/1950' else @NgayThoiViec_Tu end, 103)
	SET @dNgayThoiViec_Den	= convert(datetime, case when isnull(@NgayThoiViec_Den, '') = '' then '01/01/2100' else @NgayThoiViec_Den end, 103)
	declare @dFromDate datetime, @dToDate datetime
	set @dFromDate  = case when isnull(@FromDate,'') = '' then Convert(datetime,'01/01/1950',103) else Convert(datetime,@FromDate,103) end
 	set @dToDate	= case when isnull(@ToDate,'') = '' then Convert(datetime,'01/01/2100',103) else convert(datetime,@ToDate,103)end
	
	SET @EHDS_UserGroupID = CASE WHEN @EHDS_UserGroupID = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_UserGroupID,2) END 
	SET @EHDS_Email = CASE WHEN @EHDS_Email = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_Email,2) END
	SET @EHDS_HRCode = CASE WHEN @EHDS_HRCode = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_HRCode,2) END
	SET @EHDS_IDNo = CASE WHEN @EHDS_IDNo = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_IDNo,2) END
	SET @EHDS_MaSoThue = CASE WHEN @EHDS_MaSoThue = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_MaSoThue,2) END
	SET @EHDS_AccountNo = CASE WHEN @EHDS_AccountNo = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_AccountNo,2) END
	SET @EHDS_MaTheChamCong = CASE WHEN @EHDS_MaTheChamCong = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_MaTheChamCong,2) END
	SET @EHDS_EmpCodeOld = CASE WHEN @EHDS_EmpCodeOld = '' THEN NULL ELSE  dbo.fnConvertToStringParseXML(@EHDS_EmpCodeOld,2) END

	Declare @UseMiddleName BIT
	SELECT TOP 1 @UseMiddleName = UseMiddleName FROM HR_tblSetupHR (Nolock)
------------------------------------------------------------------------------------------------------
IF @Activity = 'LoadData'
BEGIN
	if OBJECT_ID('tempdb..#Table_EmpList_LoadData_temp') is not null
	drop table dbo.[#Table_EmpList_LoadData_temp]
	if OBJECT_ID('tempdb..#Table_EmpList_LoadData') is not null
		drop table dbo.[#Table_EmpList_LoadData]

	create table dbo.[#Table_EmpList_LoadData_temp] (EmpID int)
	create index IX_Table_EmpList_LoadData_temp_EmpID on dbo.[#Table_EmpList_LoadData_temp] (EmpID)

	create table dbo.[#Table_EmpList_LoadData] (EmpID int)
	create index IX_Table_EmpList_LoadData_EmpID on dbo.[#Table_EmpList_LoadData] (EmpID)

	declare @isEmpCode int set @isEmpCode = 0

	if (isnull(@EmpCode, '') <> '')
	BEGIN
		set @isEmpCode = 1

		Insert into dbo.[#Table_EmpList_LoadData_temp](EmpID) 
		select EmpID 
		from dbo.fnGetEmpIDByCodeName(@EmpCode, 'EmpCode') AA;
	END

	declare @isEmpName int set @isEmpName = 0

	if (isnull(@EmpName, '') <> '')
	BEGIN
		set @isEmpName = 1

		Insert into dbo.[#Table_EmpList_LoadData_temp](EmpID) 
		select  EmpID 
		from dbo.fnGetEmpIDByCodeName(@EmpName, 'EmpName') AA;
	END

	INSERT INTO [#Table_EmpList_LoadData](EmpID)
	SELECT DISTINCT EmpID FROM [#Table_EmpList_LoadData_temp] (NOLOCK) --TungTT83 bổ sung

	--FID 6170 thì ko lấy dl theo chức năng nên xử lý vào bảng này
	if OBJECT_ID('tempdb..#Table_EmpList_6170') is not null
		drop table dbo.[#Table_EmpList_6170]

	create table dbo.[#Table_EmpList_6170] (EmpID int,Rank int)
	create index IX_Table_EmpList_6170_EmpID on dbo.[#Table_EmpList_6170] (EmpID)

	if @FunctionID = '6170' 
	Begin
		Insert into [#Table_EmpList_6170](EmpID,Rank)
		Select items , D.Rank
		from dbo.split(@EmpListSearch,'@') A
		Left join CMS_tblEvaluationPeriod_Emp(nolock) B on A.items = B.EmpID and B.EvaluationPeriodID = @EvaluationPeriodID
		Left join CMS_tblDanhGiaNangLuc_CapTren(nolock) C on B.EvaluationPeriodEmpID = C.EvaluationPeriodEmpID
		Left join LS_tblTinhTrangDanhGiaNangLuc(nolock) D on C.LSTinhTrangDanhGiaNangLucID = D.LSTinhTrangDanhGiaNangLucID or (C.DanhGiaNangLuc_CapTrenID is null and D.LSTinhTrangDanhGiaNangLucID=1)
	End
	ELSE IF @FunctionID = '6200'
	BEGIN
		Insert into [#Table_EmpList_6170](EmpID,Rank)
		Select items , D.Rank
		from dbo.split(@EmpListSearch,'@') A
		Left join CMS_tblEvaluationPeriod_Emp(nolock) B on A.items = B.EmpID and B.EvaluationPeriodID = @EvaluationPeriodID
		inner join CMS_tblDanhGiaNangLuc_CapTren(nolock) C on B.EvaluationPeriodEmpID = C.EvaluationPeriodEmpID AND LSTinhTrangDanhGiaNangLucID = 3
		Left join UMS_tblUserAccount(nolock) UA on UA.UserGroupID=@UserGroupID
		left join CMS_tblDanhGiaNangLuc_HoiDong (nolock) HD on HD.DanhGiaNangLuc_CapTrenID = C.DanhGiaNangLuc_CapTrenID and (HD.EmpID_DanhGia = UA.EmpID or HD.EmpID_NhapHo = UA.EmpID)
		Left join LS_tblTinhTrangDanhGiaNangLuc (nolock) D on HD.LSTinhTrangDanhGiaNangLucID = D.LSTinhTrangDanhGiaNangLucID or (HD.DanhGiaNangLuc_HoiDongID is null and D.LSTinhTrangDanhGiaNangLucID=1)
	END
	ELSE if @FunctionID = '6223' 
	Begin
		Insert into [#Table_EmpList_6170](EmpID,Rank)
		Select items , D.Rank
		from dbo.split(@EmpListSearch,'@') A
		Left join CMS_tblEvaluationPeriod_Emp(nolock) B on A.items = B.EmpID and B.EvaluationPeriodID = @EvaluationPeriodID
		Left join UMS_tblUserAccount(nolock) UA on UA.UserGroupID = @UserGroupID 
		Inner join CMS_tblDanhGiaNangLuc_ChiDinh360(nolock) B_ on B_.EvaluationPeriodEmpID = B.EvaluationPeriodEmpID and UA.EmpID = B_.EmpID
		Left join CMS_tblDanhGiaNangLuc_360(nolock) C on B.EvaluationPeriodEmpID = C.EvaluationPeriodEmpID and B_.DanhGiaNangLuc_ChiDinh360ID = C.DanhGiaNangLuc_ChiDinh360ID
		Left join LS_tblTinhTrangDanhGiaNangLuc(nolock) D on C.LSTinhTrangDanhGiaNangLucID = D.LSTinhTrangDanhGiaNangLucID or (C.DanhGiaNangLuc_360ID is null and D.LSTinhTrangDanhGiaNangLucID=1)
	End
	----------------------------------------------------------------------------

	if OBJECT_ID('tempdb..#Table_EmpList_LoadData_Permission') is not null
		drop table dbo.[#Table_EmpList_LoadData_Permission]

	create table dbo.[#Table_EmpList_LoadData_Permission] (EmpID int)
		create index IX_Table_EmpList_LoadData_Permission_EmpID on dbo.[#Table_EmpList_LoadData_Permission] (EmpID)
	
	INSERT INTO dbo.[#Table_EmpList_LoadData_Permission](EmpID)
	Select EmpID
	from dbo.fnGetAllEmp_Permission(@UserGroupID,@FunctionID)

	----------------------------------------------------------------------------

	if OBJECT_ID('tempdb..#Table_EmpList_LoadData_TinhTrangNV') is not null
		drop table dbo.[#Table_EmpList_LoadData_TinhTrangNV]

	create table dbo.[#Table_EmpList_LoadData_TinhTrangNV] (LSTinhTrangNhanVienID int)
		create index IX_Table_EmpList_LoadData_TinhTrangNV_LSTinhTrangNhanVienID on dbo.[#Table_EmpList_LoadData_TinhTrangNV] (LSTinhTrangNhanVienID)
	
	if(isnull(@strLSTinhTrangNhanVienID,'') <> '')
	begin
		INSERT INTO dbo.[#Table_EmpList_LoadData_TinhTrangNV](LSTinhTrangNhanVienID)
		select distinct items
		from dbo.Split(@strLSTinhTrangNhanVienID,'@')
	end

	IF OBJECT_ID ('tempdb..#tmpEmpList') IS NOT NULL 
        DROP TABLE dbo.[#tmpEmpList]

	CREATE TABLE dbo.[#tmpEmpList](STT BIGINT IDENTITY, EmpID INT, ContractID INT, WorkingRecordID INT, NowWorkingRecordID INT, TerminationID INT, FullNameEN NVARCHAR(255), TinhTrangNhanVien NVARCHAR(255), LSTinhTrangNhanVienID_New NVARCHAR(255))
	CREATE INDEX IX_#tmpEmpList_EmpID ON #tmpEmpList(EmpID)
	CREATE INDEX IX_#tmpEmpList_ContractID ON #tmpEmpList(ContractID)
	CREATE INDEX IX_#tmpEmpList_WorkingRecordID ON #tmpEmpList(WorkingRecordID)
	CREATE INDEX IX_#tmpEmpList_TerminationID ON #tmpEmpList(TerminationID)
	--Rlog 21946 giữ nguyên xử lý hiện tại lọc theo Tình Trạng Nhân viên(Hiện diện, thôi việc..) và bổ sung thêm xử lý sắp xếp thông tin họ tên nhân viên theo Tên 'ABC'
	--chuyen tu ROW_NUMBER() over(order by V.Status desc) sang ROW_NUMBER() over(order by V.Status desc,V.VFirstName COLLATE Vietnamese_CI_AS ASC).
	DECLARE @StrSQL NVARCHAR (MAX)
	SET @StrSQL = N'
	DECLARE @dHienThiThongTinThemCuaNV int
	SELECT	@dHienThiThongTinThemCuaNV = ISNULL(HienThiThongTinThemCuaNV, 0)
	FROM	HR_tblSetupHR (NOLOCK) 

	DECLARE @dFromDate DATE
	DECLARE @dToDate DATE
	set @dFromDate  = case when isnull(''' + @FromDate + ''','''') = '''' then Convert(datetime,''01/01/1950'',103) else Convert(datetime,''' + @FromDate + ''',103) end
 	set @dToDate	= case when isnull(''' + @ToDate + ''','''') = '''' then Convert(datetime,''01/01/2100'',103) else convert(datetime,''' + @ToDate + ''',103)end

	INSERT INTO dbo.[#tmpEmpList](EmpID, ContractID, TerminationID, WorkingRecordID, NowWorkingRecordID, FullNameEN, TinhTrangNhanVien, LSTinhTrangNhanVienID_New)
	select  A.EmpID, HD1.ContractID, TER.TerminationID, WR.WorkingRecordID,WRN.WorkingRecordID, dbo.Convert_Unicode_Unsign(V.EmpName) FullNameEN,
		case when '''+@LanguageID+''' = ''EN'' then tt.Name else tt.VNName end TinhTrangNhanVien,
		case when '''+@LanguageID+''' = ''VN'' then case when tnv1.LSTinhTrangNhanVienID_New is null then ttnv2.VNName else ttnv.VNName end else case when tnv1.LSTinhTrangNhanVienID_New is null then ttnv2.Name else ttnv.Name end end TinhTrangNhanVien_New
	from dbo.[#Table_EmpList_LoadData_Permission] (nolock) A
	left join dbo.[#Table_EmpList_LoadData] (nolock) B on A.EmpID = B.EmpID
	left join dbo.[#Table_EmpList_6170](nolock) C on A.EmpID = C.EmpID
	left join HR_VEmp(NoLock) v on A.EmpID=V.EmpID
	left join HR_tblEmpCV(Nolock) ECV on A.EmpID=ECV.EmpID
	Left join
	(
		SELECT EmpID, MAX(EffectiveDate) EffectiveDate 
		FROM HR_tblContract (Nolock)
		WHERE EffectiveDate BETWEEN @dFromDate AND @dToDate or @dFromDate BETWEEN EffectiveDate AND ToDate
		GROUP BY EmpID
	) HD2 ON HD2.EmpID = A.EmpID
	Left join HR_tblContract (NOLOCK ) HD1 ON HD1.EmpID = HD2.EmpID AND HD1.EffectiveDate = HD2.EffectiveDate
	Left join
	(
		SELECT EmpID, MAX(FromDate) FromDate 
		FROM HR_tblWorkingRecord (Nolock)
		GROUP BY EmpID
	) WR_ ON WR_.EmpID = A.EmpID
	Left join HR_tblWorkingRecord (NOLOCK ) WR ON WR.EmpID = WR_.EmpID AND WR.FromDate = WR_.FromDate
	--Vunm11
	Left join
	(
		SELECT EmpID, MAX(FromDate) FromDate 
		FROM HR_tblWorkingRecord (Nolock)
		where FromDate <= GetDate()
		GROUP BY EmpID
	) WRN_ ON WRN_.EmpID = A.EmpID
	Left join HR_tblWorkingRecord (NOLOCK ) WRN ON WRN.EmpID = WRN_.EmpID AND WRN.FromDate = WRN_.FromDate
	----
	Left join
	(
		SELECT EmpID, MAX(LastWorkingDate) LastWorkingDate 
		FROM TER_tblTermination (Nolock)
		GROUP BY EmpID
	) TER_ ON TER_.EmpID = A.EmpID
	LEFT JOIN TER_tblTermination (NOLOCK ) TER ON TER.EmpID = TER_.EmpID AND TER.LastWorkingDate = TER_.LastWorkingDate
	'

	IF ISNULL (@EHDS_LSLoaiNhanVienID,'') <> ''
	BEGIN 
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSLoaiNhanVienID+''','';'') EHDS1 ON case when isnull(EHDS1.items,'''') = '''' THEN -1 else convert(int,EHDS1.items) end = case when v.LSLoaiNhanVienID is null THEN -1 else v.LSLoaiNhanVienID end'
	END
	IF ISNULL (@EHDS_LSNhomNhanVienID,'') <> ''
	BEGIN 
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSNhomNhanVienID+''','';'') EHDS2 ON case when isnull(EHDS2.items,'''') = '''' THEN -1 else convert(int,EHDS2.items) end = case when v.LSNhomNhanVienID is null THEN -1 else v.LSNhomNhanVienID end'
	END						
	IF ISNULL (@EHDS_LSCapBacNhanVienID,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSCapBacNhanVienID+''','';'') EHDS3 ON case when isnull(EHDS3.items,'''') = '''' THEN -1 else convert(int,EHDS3.items) end = case when v.LSCapBacNhanVienID is null THEN -1 else v.LSCapBacNhanVienID end'
	END
	IF ISNULL (@EHDS_LSContractTypeID,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSContractTypeID+''','';'') EHDS4 ON case when isnull(EHDS4.items,'''') = '''' THEN -1 else convert(int,EHDS4.items) end = case when v.LSContractTypeID is null THEN -1 else v.LSContractTypeID end'
	END
	IF ISNULL (@EHDS_LSStatusChangeID,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSStatusChangeID+''','';'') EHDS5 ON case when isnull(EHDS5.items,'''') = '''' THEN -1 else convert(int,EHDS5.items) end = case when v.LSStatusChangeID is null THEN -1 else v.LSStatusChangeID end'
	END
	IF ISNULL (@EHDS_Email,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_Email+''','';'') EHDS6 ON EHDS6.items = v.Email'
	END
	IF ISNULL (@EHDS_HRCode,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_HRCode+''','';'') EHDS7 ON EHDS7.items = v.HRCode'
	END
	IF ISNULL (@EHDS_IDNo,'') <> ''
	BEGIN
		SET @StrSQL += ' LEFT JOIN dbo.Split('''+@EHDS_IDNo+''','';'') EHDS8 ON EHDS8.items = v.IDNo'
	END
	IF ISNULL (@EHDS_MaSoThue,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_MaSoThue+''','';'') EHDS9 ON EHDS9.items = v.MaSoThue'
	END
	IF ISNULL (@EHDS_MaTheChamCong,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_MaTheChamCong+''','';'') EHDS10 ON EHDS10.items = v.MaTheChamCong'
	END
	IF ISNULL (@EHDS_EmpCodeOld,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_EmpCodeOld+''','';'') EHDS11 ON EHDS11.items = v.EmpCodeOld'
	END
	IF ISNULL (@EHDS_AccountNo,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_AccountNo+''','';'') EHDS12 ON EHDS12.items = v.AccountNo'
	END
	IF ISNULL (@EHDS_UserGroupID,'') <> ''
	BEGIN
		SET @StrSQL += N' LEFT JOIN dbo.HR_fnGetEmpIDbyUserGroupID('''+@EHDS_UserGroupID+''') EHDS13 ON EHDS13.EmpID = A.EmpID'
	END
	/*rlogID:14967*/
	SET @StrSQL += N' 
	left join (
		select B.EmpID, B.LSTinhTrangNhanVienID
		from (
				select EmpID, max(FromDate) FromDate
				from HR_tblThongTinTinhTrangNhanVien_CVN(nolock)
				where FromDate < getdate()
				group by EmpID
		) A
		inner join HR_tblThongTinTinhTrangNhanVien_CVN(nolock) B on A.EmpID = B.EmpID and A.FromDate = B.FromDate
	) tnv on A.EmpID = tnv.EmpID	
	left join LS_tblTinhTrangNhanVien_CVN(nolock) tt on tnv.LSTinhTrangNhanVienID = tt.LSTinhTrangNhanVienID
	left join dbo.[#Table_EmpList_LoadData_TinhTrangNV] (nolock) tmpnv on tnv.LSTinhTrangNhanVienID = tmpnv.LSTinhTrangNhanVienID
	left join HR_tblEmpOrder(NoLock) O on ECV.EmpID = O.EmpID
	OUTER APPLY
	(
		SELECT LSTinhTrangNhanVienID_New
		FROM
		(
			select AA.EmpID, AA.FromDate, AA.ToDate, AA.LSTinhTrangNhanVienID_New, BB.Rank, ROW_NUMBER() OVER(PARTITION BY AA.EmpID ORDER BY BB.Rank ASC) AS RN
			from HR_tblThongTinTinhTrangNhanVien (nolock) AA
			left join LS_tblTinhTrangNhanVien (nolock) BB ON BB.LSTinhTrangNhanVienID = AA.LSTinhTrangNhanVienID_New
			WHERE CONVERT(DATETIME,CONVERT(nvarchar(10),getdate(),103),103) BETWEEN AA.FromDate AND CASE WHEN AA.ToDate IS NULL THEN CONVERT(DATETIME, N''01/01/2100'',103) ELSE AA.ToDate end
			AND AA.EmpID = A.EMPID
		)B
		WHERE B.RN = 1
	)tnv1
	left join LS_tblTinhTrangNhanVien(nolock) ttnv on ttnv.LSTinhTrangNhanVienID = tnv1.LSTinhTrangNhanVienID_New
	left join LS_tblTinhTrangNhanVien(nolock) ttnv2 on ttnv2.LSTinhTrangNhanVienCode = ''AC''
	'

	SET @StrSQL += N' where 1=1'
	
	if(@isEmpCode = 1 or @isEmpName = 1) 
		set @StrSQL += N' and B.EmpID is not null'
	if(@FunctionID = '6170' or @FunctionID = '6200' or @FunctionID = '6223') 
		set @StrSQL += N' and C.EmpID is not null'

	IF(@FromDate <> '' OR @ToDate <> '') SET @StrSQL += N' and(v.StartDate BETWEEN  '''+CONVERT(NVARCHAR(10),@dFromDate,23)+''' and '''+CONVERT(NVARCHAR(10),@dToDate,23)+''')'

	IF @LSLevel1ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel1ID = '+ RTRIM(@LSLevel1ID)+')' END
	IF @LSLevel2ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel2ID = '+ RTRIM(@LSLevel2ID)+')' END
	IF @LSLevel3ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel3ID = '+ RTRIM(@LSLevel3ID)+')' END
	IF @LSLevel4ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel4ID = '+ RTRIM(@LSLevel4ID)+')' END
	IF @LSLevel5ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel5ID = '+ RTRIM(@LSLevel5ID)+')' END
	IF @LSLevel6ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel6ID = '+ RTRIM(@LSLevel6ID)+')' END
	IF @LSLevel7ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel7ID = '+ RTRIM(@LSLevel7ID)+')' END
	IF @LSLevel8ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel8ID = '+ RTRIM(@LSLevel8ID)+')' END
	IF @LSLevel9ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLevel9ID = '+ RTRIM(@LSLevel9ID)+')' END
	IF @LSCompanyID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSCompanyID = '+ RTRIM(@LSCompanyID) +')' END
	IF @LSJobTitleID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSJobTitleID = '+ RTRIM(@LSJobTitleID)+')' END
	IF @LSLocationID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLocationID = '+ RTRIM(@LSLocationID)+')' END
	IF @LSKN1ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSJobTitleID_KN = '+ RTRIM(@LSKN1ID)+')' END
	IF @LSKN2ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSJobTitleID_KN2 = '+ RTRIM(@LSKN2ID)+')' END
	IF ISNULL (@Status,'') <> '' AND @Status <> '2' BEGIN SET @StrSQL += N' and (V.[Status] = '+@Status+')' END
	IF @LSLoaiHinhNhanVienID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSLoaiHinhNhanVienID = '+ RTRIM(@LSLoaiHinhNhanVienID)+')' END
	IF @LSCapBacNhanVienID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSCapBacNhanVienID = '+ RTRIM(@LSCapBacNhanVienID)+')' END
	IF @LSHLevel1ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSHLevel1ID = '+ RTRIM(@LSHLevel1ID)+')' END
	IF @LSHLevel2ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSHLevel2ID = '+ RTRIM(@LSHLevel2ID)+')' END
	IF @LSHLevel3ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSHLevel3ID = '+ RTRIM(@LSHLevel3ID)+')' END
	IF @LSHLevel4ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSHLevel4ID = '+ RTRIM(@LSHLevel4ID)+')' END
	IF @LSHLevel5ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSHLevel5ID = '+ RTRIM(@LSHLevel5ID)+')' END
	IF @LSHLevel6ID IS NOT NULL BEGIN SET @StrSQL += N' and (V.LSHLevel6ID = '+ RTRIM(@LSHLevel6ID)+')' END
	IF ISNULL (@MaTheChamCong,'') <> '' BEGIN SET @strSQL += N' and (V.MaTheChamCong like N''%' + @MaTheChamCong + '%'')' END
	IF isnull (@strLSTinhTrangNhanVienID,'') <> '' BEGIN SET @StrSQL += N' and(tmpnv.LSTinhTrangNhanVienID is not null)' END
	IF ISNULL (@EHDS_LSLoaiNhanVienID,'') <> '' BEGIN SET @StrSQL += N' and (EHDS1.items IS NOT NULL)' END
	IF ISNULL (@EHDS_LSNhomNhanVienID,'') <> '' BEGIN SET @StrSQL += N' and (EHDS2.items IS NOT NULL)' END
	IF ISNULL (@EHDS_LSCapBacNhanVienID,'') <> '' BEGIN SET @StrSQL += N' and (EHDS3.items IS NOT NULL)' END
	IF ISNULL (@EHDS_LSContractTypeID,'') <> '' BEGIN SET @StrSQL += N' and (EHDS4.items IS NOT NULL)' END
	IF ISNULL (@EHDS_LSStatusChangeID,'') <> '' BEGIN SET @StrSQL += N' and (EHDS5.items IS NOT NULL)' END
	IF ISNULL (@EHDS_Email,'') <> '' BEGIN SET @StrSQL += N' and (EHDS6.items IS NOT NULL)' END
	IF ISNULL (@EHDS_HRCode,'') <> '' BEGIN SET @StrSQL += N' and (EHDS7.items IS NOT NULL)' END
	IF ISNULL (@EHDS_IDNo,'') <> '' BEGIN SET @StrSQL += N' and (EHDS8.items IS NOT NULL)' END
	IF ISNULL (@EHDS_MaSoThue,'') <> '' BEGIN SET @StrSQL += N' and (EHDS9.items IS NOT NULL)' END
	IF ISNULL (@EHDS_MaTheChamCong,'') <> '' BEGIN SET @StrSQL += N' and (EHDS10.items IS NOT NULL)' END
	IF ISNULL (@EHDS_EmpCodeOld,'') <> '' BEGIN SET @StrSQL += N' and (EHDS11.items IS NOT NULL)' END
	IF ISNULL (@EHDS_AccountNo,'') <> '' BEGIN SET @StrSQL += N' and (EHDS12.items IS NOT NULL)' END
	IF ISNULL (@EHDS_UserGroupID,'') <> '' BEGIN SET @StrSQL += N' and (EHDS13.EmpID IS NOT NULL)' END		
	--Rlog 18948
	IF ISNULL (@CongTyPhu,'false') = 'false' AND ISNULL (@CongTyChinh,'false') = 'true' BEGIN SET @StrSQL += N' and (isnull(ECV.CongTyPhu,0) = 0) ' END	
	IF ISNULL (@CongTyPhu,'false') = 'true' AND ISNULL (@CongTyChinh,'false') = 'false' BEGIN SET @StrSQL += N' and (isnull(ECV.CongTyPhu,0) = 1) ' END

	If @FunctionID in ('6170', '6200','6223') 
	BEGIN 
		SET @StrSQL += N'Order by C.Rank, CASE WHEN @dHienThiThongTinThemCuaNV = 1 THEN ROW_NUMBER() over(order by V.Status desc,V.VFirstName COLLATE Vietnamese_CI_AS ASC) ELSE O.OrderBy END' 
	END
	ELSE
	BEGIN
	    SET @StrSQL += N'Order by CASE WHEN @dHienThiThongTinThemCuaNV = 1 THEN ROW_NUMBER() over(order by V.Status desc,V.VFirstName COLLATE Vietnamese_CI_AS ASC) ELSE O.OrderBy END' 
	END

	PRINT @strSQL
	EXEC (@strSQL)

	DECLARE @totalpages INT, @totalrecords INT
	SELECT @totalpages = CEILING(CAST(COUNT(*) AS FLOAT)/CAST(@rownumber AS FLOAT)),
		@totalrecords = COUNT(*)
	FROM #tmpEmpList (NOLOCK) A

	IF OBJECT_ID ('tempdb..#tmpEmpListFilterRownumber') IS NOT NULL DROP TABLE dbo.[#tmpEmpListFilterRownumber]
	CREATE TABLE #tmpEmpListFilterRownumber (STT INT PRIMARY KEY, EmpID INT)
	CREATE INDEX IX_EmpListFilterRownumber ON #tmpEmpListFilterRownumber(EmpID)
	
	INSERT INTO #tmpEmpListFilterRownumber (STT, EmpID)
	select AA.STT, AA.EmpID
	from #tmpEmpList (nolock) AA
	where 
	(
		(@ExportAll is null or @ExportAll= '0')
		and AA.STT between (@page - 1) * @rownumber + 1 and @page * @rownumber
	)
	or 
	(
		@ExportAll = '1'
	)
	Order by AA.STT

	IF OBJECT_ID ('tempdb..#tblAccountExtension') IS NOT NULL DROP TABLE dbo.[#tblAccountExtension]
	CREATE TABLE #tblAccountExtension (EmpID INT PRIMARY KEY, AccountExtensionID INT)
	CREATE INDEX IX_tblAccountExtension ON #tblAccountExtension(AccountExtensionID)

	INSERT INTO #tblAccountExtension (EmpID, AccountExtensionID)
	SELECT Ext.EmpID, Ext.AccountExtensionID
	FROM (
		SELECT	A.EmpID, MAX(A.FromDate) AS FromDate
		FROM	dbo.UMS_tblAccountExtension  (NOLOCK) A
		INNER JOIN #tmpEmpListFilterRownumber (NOLOCK) PQ ON PQ.EmpID = A.EmpID
		GROUP BY A.EmpID
	) ExtP
	INNER JOIN UMS_tblAccountExtension (NOLOCK) Ext ON Ext.EmpID = ExtP.EmpID AND Ext.FromDate = ExtP.FromDate

	IF OBJECT_ID ('tempdb..#tmp_tblQualification') IS NOT NULL DROP TABLE dbo.[#tmp_tblQualification]

	SELECT Qlf.EmpID
		,CASE WHEN @LanguageID = 'VN' THEN QM2.VNName ELSE QM2.Name END AS QualifiMajor2Name
		,CASE WHEN @LanguageID = 'VN' THEN ML.VNName ELSE ML.Name END AS MajorLevel
		,CASE WHEN @LanguageID = 'VN' THEN SC.VNName ELSE SC.Name END AS SchoolName
		,CASE WHEN @LanguageID = 'VN' THEN PW.VNName ELSE PW.Name END AS PassWithLevelName
		,Qlf.NamTotNghiep
		,CONCAT_WS(',', NULLIF(EB.P_Address, ''),CASE WHEN @LanguageID = 'VN' THEN W.VNName ELSE W.Name END,
		CASE WHEN @LanguageID = 'VN' THEN D.VNName ELSE D.Name END,
		CASE WHEN @LanguageID = 'VN' THEN P.VNName ELSE P.Name END
		) AS DiaChiThuongTru
	INTO #tmp_tblQualification
	FROM (
		SELECT	A.EmpID, MAX(A.QualificationID) AS QualificationID
		FROM	dbo.HR_tblQualification  (NOLOCK) A
		INNER JOIN #tmpEmpListFilterRownumber (NOLOCK) PQ ON PQ.EmpID = A.EmpID
		WHERE A.IsMain = 1
		GROUP BY A.EmpID
	) ExtP
	INNER JOIN HR_tblQualification (NOLOCK) Qlf ON Qlf.QualificationID = ExtP.QualificationID
	LEFT JOIN dbo.LS_tblQualifiMajor (NOLOCK) QM2 ON QM2.LSQualifiMajorID = Qlf.LSQualifiMajorID2
	LEFT JOIN dbo.LS_tblProfessionalLevel (NOLOCK) ML ON ML.LSProfessionalLevelID = Qlf.LSProfessionalLevelID
	LEFT JOIN dbo.LS_tblSchool (NOLOCK) SC ON SC.LSSchoolID= Qlf.LSSchoolID
	LEFT JOIN dbo.LS_tblPassWithLevel (NOLOCK) PW ON PW.LSPassWithLevelID = Qlf.LSPassWithLevelID
	LEFT JOIN HR_tblEmpOther(NOLOCK) EB ON EB.EmpID = Qlf.EmpID
	LEFT JOIN dbo.LS_tblProvince (NOLOCK) P ON P.LSProvinceID = EB.P_LSProvinceID
	LEFT JOIN dbo.LS_tblDistrict (NOLOCK) D ON D.LSDistrictID = EB.P_District
	LEFT JOIN dbo.LS_tblWard (NOLOCK) W ON W.LSWardID = EB.P_Ward
	
	/*RlogID 25764 - KPMG_V34*/
	IF OBJECT_ID ('tempdb..#tmpEmpList_YearsOfService') IS NOT NULL DROP TABLE dbo.[#tmpEmpList_YearsOfService]
	CREATE TABLE #tmpEmpList_YearsOfService (EmpID INT PRIMARY KEY, YearsOfService NUMERIC(18,2))
	
	IF EXISTS (SELECT TOP 1 1 FROM dbo.UMS_RadGridColumnConfig WHERE FormID = '14' AND ColumnUniqueName = 'YearsOfService' AND ColumnVisible = 0)
	BEGIN
		SET @strSQL = N'
		DECLARE @tEmp tEmp

		INSERT INTO @tEmp (EmpID) SELECT DISTINCT EmpID FROM #tmpEmpListFilterRownumber
		INSERT INTO #tmpEmpList_YearsOfService (EmpID, YearsOfService)
		SELECT EmpID, YearsOfService
		FROM HR_fnGetYearsOfService(@tEmp)
		'
		EXEC (@strSQL)
	END
	/*END RlogID 25764 - KPMG_V34*/

	--------------------------------
	--------------------------------
	DECLARE @Display BIT SELECT @Display = CASE WHEN IsSystem = 1 THEN 0 ELSE 1 END FROM SYS_tblFunctionList(NOLOCK) WHERE FunctionID = '4793'

	SELECT AA.STT, @totalpages AS totalpages, @totalrecords AS totalrecords,
		v.EmpID, v.EmpCode, v.EmpName,v.EmpName AS FullNameVN,
		v.VLastName AS LastName,
		ISNULL(v.MiddleName,'')MiddleName,
		v.VFirstName  AS FirstName,
		CASE WHEN @LanguageID = 'VN' THEN v.GenderStr ELSE v.GenderStrEN END AS Gender,
		EB.T_AddressEN AS T_Address,
		CONVERT(NVARCHAR(10),v.StartDate,103) AS StartDate,v.StartDate dStartDate,v.StartDate StartDateSort,
		CONVERT(NVARCHAR(10),v.NgayNghiViec,103) AS NgayNghiViec ,v.NgayNghiViec NgayNghiViecSort, DOBstr,v.DOB DOBSort, 
		CONVERT(NVARCHAR(10),TER.LastWorkingDate,103) AS LastDate, 
		CASE WHEN @LanguageID = 'EN' THEN v.JobTitleEN  WHEN  @LanguageID = 'CN' THEN v.JobTitleCN ELSE v.JobTitleVN END AS JobTitleVN,
		CASE WHEN @LanguageID = 'EN' THEN CB.Name  WHEN  @LanguageID = 'CN' THEN CB.CNName ELSE CB.VNName END AS JobGradeVN,
		v.Mobifone, v.Email,ECV.EmailPersonal,
		CASE WHEN @LanguageID = 'EN' THEN (CASE WHEN CompanyEN IS NULL THEN '' ELSE CompanyEN END ) ELSE (CASE WHEN CompanyVN IS NULL THEN '' ELSE CompanyVN END) END AS CompanyVN, -- dung de phan group 
		CASE WHEN @LanguageID = 'EN' THEN (CASE WHEN Level1EN IS NULL THEN '' ELSE Level1EN END) WHEN @LanguageID = 'CN' THEN (CASE WHEN Level1CN IS NULL THEN '' ELSE Level1CN END) ELSE (CASE WHEN Level1VN IS NULL THEN '' ELSE Level1VN END) END AS Level1VN, -- dung de phan group 
		CASE WHEN @LanguageID = 'EN' THEN (CASE WHEN Level2EN IS NULL THEN '' ELSE Level2EN END) WHEN @LanguageID = 'CN' THEN (CASE WHEN Level2CN IS NULL THEN '' ELSE Level2CN END) ELSE (CASE WHEN Level2VN IS NULL THEN '' ELSE Level2VN END) END AS Level2VN, -- dung de phan group
		CASE WHEN @LanguageID = 'EN' THEN (CASE WHEN Level3EN IS NULL THEN '' ELSE Level3EN END) WHEN @LanguageID = 'CN' THEN (CASE WHEN Level3CN IS NULL THEN '' ELSE Level3CN END) ELSE (CASE WHEN Level3VN IS NULL THEN '' ELSE Level3VN END) END AS Level3VN, 
		CASE WHEN @LanguageID = 'EN' THEN Level4EN WHEN  @LanguageID = 'CN' THEN Level4CN ELSE Level4VN END AS Level4, 
		CASE WHEN @LanguageID = 'EN' THEN Level5EN WHEN  @LanguageID = 'CN' THEN Level5CN ELSE Level5VN END AS Level5, 
		CASE WHEN @LanguageID = 'EN' THEN Level6EN WHEN  @LanguageID = 'CN' THEN Level6CN ELSE Level6VN END AS Level6, 
		CASE WHEN @LanguageID = 'EN' THEN Level7EN WHEN  @LanguageID = 'CN' THEN Level7CN ELSE Level7VN END AS Level7, 
		CASE WHEN @LanguageID = 'EN' THEN Level8EN WHEN  @LanguageID = 'CN' THEN Level8CN ELSE Level8VN END AS Level8, 
		CASE WHEN @LanguageID = 'EN' THEN Level9EN WHEN  @LanguageID = 'CN' THEN Level9CN ELSE Level9VN END AS Level9, 
		CASE WHEN @LanguageID = 'EN' THEN HLevel1EN /**when  @LanguageID = 'CN' then HLevel1CN**/ ELSE HLevel1VN END AS HLevel1, 
		CASE WHEN @LanguageID = 'EN' THEN HLevel2EN /**when  @LanguageID = 'CN' then HLevel2CN**/ ELSE HLevel2VN END AS HLevel2, 
		CASE WHEN @LanguageID = 'EN' THEN HLevel3EN /**when  @LanguageID = 'CN' then HLevel3CN**/ ELSE HLevel3VN END AS HLevel3, 
		CASE WHEN @LanguageID = 'EN' THEN HLevel4EN /**when  @LanguageID = 'CN' then HLevel4CN**/ ELSE HLevel4VN END AS HLevel4, 
		CASE WHEN @LanguageID = 'EN' THEN HLevel5EN /**when  @LanguageID = 'CN' then HLevel5CN**/ ELSE HLevel5VN END AS HLevel5, 
		CASE WHEN @LanguageID = 'EN' THEN HLevel6EN /**when  @LanguageID = 'CN' then HLevel6CN**/ ELSE HLevel6VN END AS HLevel6, 
				
		v.LSCompanyCode CompanyCode,v.LSLevel1Code Level1Code,v.LSLevel2Code Level2Code,v.LSLevel3Code Level3Code,
		v.LSLevel4Code Level4Code,v.LSLevel5Code Level5Code,v.LSLevel6Code Level6Code,v.LSLevel7Code Level7Code,v.LSLevel8Code Level8Code,v.LSLevel9Code Level9Code,
		--DanL : 16/05/2011 ==> lấy mô tả công việc
		dbo.RE_fnGetInfoFromJobDescription(V.LSJobTitleID,V.LSCompanyID, V.LSLevel1ID, V.LSLevel2ID, V.LSLevel3ID, V.LSLevel4ID, V.LSLevel5ID, V.LSLevel6ID, V.LSLevel7ID, V.LSLevel8ID, V.LSLevel9ID, 'VN', '0', V.StartDateCompany,V.LSCapBacNhanVienID) JobDescriptionID, 
		/*--Map theo Chức danh, Công ty, Đơn vị từ cấp thấp nhất, nếu ko có dữ liệu thì lấy lên cấp trên: NhanNH2: VBL*/
		v.Creater,CONVERT(NVARCHAR,v.CreateTime,103) + ' ' + CONVERT(NVARCHAR,v.CreateTime,108) AS CreateDate,-- SonPQ : 20110706, bo sung them
		v.Editer,CONVERT(NVARCHAR,v.EditTime,103) + ' ' + CONVERT(NVARCHAR,v.EditTime,108) AS EditDate,
		v.MaTheChamCong,EmpOld.EmpCode OldEmpCode,
		v.NickName,Emp.EmpCodeOld, v.filephoto
		/*LamNT22-08012015-5420*/
		,CASE WHEN @LanguageID = 'VN' THEN A.VNName WHEN @LanguageID = 'CN' THEN A.CNName ELSE A.Name END NhomNhanVienName
		,CASE WHEN @LanguageID = 'VN' THEN B.VNName WHEN @LanguageID = 'CN' THEN B.CNName ELSE B.Name END LoaiNhanVienName
		,CASE WHEN @LanguageID = 'VN' THEN C.VNName WHEN @LanguageID = 'CN' THEN C.CNName ELSE C.Name END KhoiNhanVienName
		/*endLamNT22-08012015-5420*/
		,CASE WHEN @LanguageID = 'VN' THEN LC.VNName WHEN @LanguageID = 'CN' THEN A.CNName ELSE LC.Name END NoiLamViec
		--,case when @LanguageID = 'VN' then CB.VNName when @LanguageID = 'CN' then B.CNName else CB.Name end CapBac
		,CASE WHEN @LanguageID = 'VN' THEN A.VNName  WHEN @LanguageID = 'CN' THEN C.CNName ELSE A.Name END LoaiHinh
		,UV.CandidateCode
		,CASE WHEN @LanguageID = 'VN' THEN P_QuocGia.VNName WHEN @LanguageID = 'CN' THEN P_QuocGia.CNName ELSE P_QuocGia.Name END P_QuocGia
		,CASE WHEN @LanguageID = 'VN' THEN T_QuocGia.VNName WHEN @LanguageID = 'CN' THEN T_QuocGia.CNName ELSE T_QuocGia.Name END T_QuocGia			
		,CASE WHEN @LanguageID = 'VN' THEN CC.VNName WHEN @LanguageID = 'CN' THEN CC.CNName ELSE CC.Name END CostCenter
		--Start Mail RE: Hỗ trợ VPBFC - 03/01/2019 - NhanHM4 (PhiNH3)
		,CASE WHEN @LanguageID='VN' THEN LHD.VNName WHEN @LanguageID = 'CN' THEN LHD.CNName ELSE LHD.Name END LoaiHD
		, HD1.ContractNo AS SoHD
		, CONVERT(NVARCHAR(10), HD1.EffectiveDate, 103) AS HDTuNgay
		, CONVERT(NVARCHAR(10), HD1.ToDate, 103) AS HDToiNgay	
		--End Mail RE: Hỗ trợ VPBFC - 03/01/2019 - NhanHM4 (PhiNH3)	
		--RlogId: 9681
		, v.StartDateCompany	
		, AA.FullNameEN--, dbo.Convert_Unicode_Unsign(v.EmpName) FullNameEN
		--Start Coding RlogID: 14131 - NhanHM4 - 03/05/2019
		, ECV.IDNo AS CMND
		, ECV.MaSoThue AS MaSoThue
		, EB.AccountNo AS SoTaiKhoan
		--End Coding RlogID: 14131 - NhanHM4 - 03/05/2019
		--Start Mail RE: [V33-Phuclong] Danh sách nhân viên - NhanHM4 - 08/05/2019
		, CONVERT(NVARCHAR(10), RTM.InformDate, 103) AS NgayBaoNghi
		--End Mail RE: [V33-Phuclong] Danh sách nhân viên - NhanHM4 - 08/05/2019
		, PSC.PositionCode /*RlogID 14724 - QuyenPV9 - 22/11/2019*/		
		, AA.TinhTrangNhanVien
		, AA.LSTinhTrangNhanVienID_New
		, Emp.JobBand
		, CASE WHEN @LanguageID='VN' THEN org.TenCapTruyXuatDuLieuV ELSE org.TenCapTruyXuatDuLieuE END OrgLayer
		--Start Support mail - CVN - ThoLD6 - 09/09/2020
		,CASE WHEN @LanguageID='VN' THEN TER_TYPE.VNName  ELSE TER_TYPE.Name END LoaiNghiViec 
		,CASE WHEN @LanguageID = 'VN' THEN CC_Moi.VNName WHEN @LanguageID = 'CN' THEN CC_Moi.CNName ELSE CC_Moi.Name END CostCenter_Moi
		--End Support mail - CVN - ThoLD6 - 09/09/2020
		, CASE WHEN @Display = 1 THEN '4793' ELSE '19' END Display --MenNT6 2021/07/09 Thêm cột Display để xác định hiện thị MH nào khi edit
		, ECV.CorporateEmpCode AS MaNhanVienTapDoan
		,CASE WHEN ECV.Date1 IS NULL THEN CONVERT(NVARCHAR(10),v.StartDate,103) ELSE CONVERT(NVARCHAR(10),ECV.DATE1,103) END AS NgayVaoTapDoan /*KH TLG PhiHN3 bo sung 29/01/2026*/
		, CONVERT(NVARCHAR(10), ECV.NgayVaoNganh, 103) AS NgayVaoNganh
		, CASE WHEN ISNULL(ECV.CongTyPhu,0) = 0 THEN '' ELSE 'X' END AS CongTyPhu
		,Emp2.EmpCode AS SaoChepTHCongTuEmpCode
		, CASE WHEN @LanguageID='VN' THEN stt.VNName ELSE stt.Name END StatusChange
		,ECV.MaNhanVienGoc MaNhanVienGoc
		, CASE WHEN @LanguageID = 'VN' THEN CBCVNB.VNName ELSE CBCVNB.Name END BacNhanVien
		, v.Status AS [Status]
		,CASE WHEN @LanguageID = 'EN' THEN CBTCD.Name  WHEN  @LanguageID = 'CN' THEN CBTCD.CNName ELSE CBTCD.VNName END AS CBNV_TheoCD
		,Emp.SAPCode AS SAPCode --ThanhNP24 Rlog 23446
		--==>AnCQ6 Rlog 25568
		,CASE WHEN @LanguageID = 'VN' THEN Tt.TenTrangThaiVN ELSE TT.TenTrangThaiEN END AS ExtTrangThai
		,TC.StatusColor AS ExtStatusColor
		,Ext.FromDate AS ExtFromDate
		,Ext.ToDate AS ExtToDate
		--AnCQ6 Rlog 25568<==
		,CONVERT(NVARCHAR(5),v.DOB,103) AS ThangSinh -- TanND35 rlgoid 23798 - GS
		,TER.LastWorkingDate --ThanhNP24 23860 SVFC
		,CASE WHEN @LanguageID = 'VN' THEN KV.VNName ELSE KV.Name END KhuVucLamViec
		,Qlf.QualifiMajor2Name
		,Qlf.MajorLevel
		,Qlf.SchoolName
		,Qlf.PassWithLevelName
		,Qlf.NamTotNghiep
		,Qlf.DiaChiThuongTru
		,YOS.YearsOfService /*RlogID 25764 - KPMG_V34*/
		, HD1.ContractNo AS ContractNo
		, CONVERT(NVARCHAR(10), HD1.EffectiveDate, 103) AS EffectiveDate
		, CONVERT(NVARCHAR(10), HD1.ToDate, 103) AS ToDate	
	FROM #tmpEmpListFilterRownumber(NOLOCK) PQ
	LEFT JOIN #tmpEmpList (NOLOCK) AA ON AA.EmpID = PQ.EmpID
	INNER JOIN HR_VEmp(NOLOCK) v ON AA.EmpID=v.EmpID
		LEFT JOIN HR_tblEmp(NOLOCK) Emp ON AA.EmpID = Emp.EmpID
		LEFT JOIN TER_tblTermination (NOLOCK ) TER ON TER.TerminationID  = AA.TerminationID
		LEFT JOIN LS_tblTerminationType (NOLOCK) TER_TYPE ON TER_TYPE.LSTerminationTypeID = TER.LSTerminationTypeID -- Support mail - CVN - ThoLD6 - 09/09/2020
		LEFT JOIN LS_tblCapBacNhanVien(NOLOCK) CB ON CB.LSCapBacNhanVienID = Emp.LSCapBacNhanVienID
		--RlogID 14724
		LEFT JOIN SYS_tblCapTruyXuatDuLieu (NOLOCK) org ON org.MaCapTruyXuatDuLieu = Emp.MaCapTruyXuatDuLieu
		LEFT JOIN HR_tblWorkingRecord (NOLOCK) WR ON WR.WorkingRecordID = AA.WorkingRecordID
		LEFT JOIN LS_tblCostCenter(NOLOCK) CC_Moi ON WR.LSCostCenterID = CC_Moi.LSCostCenterID -- Support mail - CVN - ThoLD6 - 09/09/2020
		LEFT JOIN HR_tblPositionCode(NOLOCK) PSC ON PSC.PositionCodeID = WR.PositionCodeID
		--End RlogID 14724
		LEFT JOIN HR_tblEmp(NOLOCK) EmpOld ON Emp.CopyFrom_EmpID = EmpOld.EmpID
		LEFT JOIN HR_tblEmpOther(NOLOCK) EB ON AA.EmpID = EB.EmpID
		LEFT JOIN HR_tblEmpCV(NOLOCK) ECV ON AA.EmpID = ECV.EmpID
		/*LamNT22-08012015-5420*/
		LEFT JOIN LS_tblLoaiHinhNhanVien(NOLOCK) A ON Emp.LSLoaiHinhNhanVienID = A.LSLoaiHinhNhanVienID
		LEFT JOIN LS_tblLoaiNhanVien(NOLOCK) B ON Emp.LSLoaiNhanVienID = B.LSLoaiNhanVienID
		LEFT JOIN LS_tblKhoiNhanVien(NOLOCK) C ON Emp.LSKhoiNhanVienID = C.LSKhoiNhanVienID			
		/*end LamNT22-08012015-5420*/
		LEFT JOIN LS_tblLocation(NOLOCK)LC ON LC.LSLocationID = Emp.LSLocationID
		LEFT JOIN dbo.LS_tblKhuVuc(NOLOCK) KV ON KV.LSKhuVucID = LC.LSKhuVucID
		LEFT JOIN RE_tblCandidate(NOLOCK) UV ON Emp.CandidateID = UV.CandidateID
		LEFT JOIN LS_tblQuocGia(NOLOCK) P_QuocGia ON EB.P_LSQuocGiaID =P_QuocGia.LSQuocGiaID
		LEFT JOIN LS_tblQuocGia(NOLOCK) T_QuocGia ON EB.T_LSQuocGiaID =T_QuocGia.LSQuocGiaID
		LEFT JOIN LS_tblCostCenter(NOLOCK) CC ON Emp.LSCostCenterID = CC.LSCostCenterID
		LEFT JOIN HR_tblContract (NOLOCK ) HD1 ON HD1.ContractID = AA.ContractID
		LEFT JOIN LS_tblContractType (NOLOCK) LHD ON lhd.LSContractTypeID = HD1.LSContractTypeID		
		--Start Mail RE: [V33-Phuclong] Danh sách nhân viên - NhanHM4 - 08/05/2019
		LEFT JOIN TER_tblReportTermination (NOLOCK) RTM ON RTM.EmpID = AA.EmpID
		--End Mail RE: [V33-Phuclong] Danh sách nhân viên - NhanHM4 - 08/05/2019
		LEFT JOIN HR_tblEmp(NOLOCK) Emp2 ON ECV.CopyTHCongTuMaNVID = Emp2.EmpID --RLOG 19484
		LEFT JOIN HR_tblWorkingRecord (NOLOCK) WRN ON WRN.WorkingRecordID = AA.NowWorkingRecordID-- RLog 19544
		LEFT JOIN LS_tblStatusChange (NOLOCK) stt ON WRN.LSStatusChangeID = stt.LSStatusChangeID -- RLog 19544
		LEFT JOIN dbo.LS_tblCapBacCongViecNoiBo (NOLOCK) CBCVNB ON CBCVNB.LSCapBacCongViecNoiBoID = Emp.LSCapBacCongViecNoiBoID
		LEFT JOIN ls_tblJobTitle(NOLOCK) jt ON Emp.LSJobTitleID=jt.LSJobTitleID
		LEFT JOIN LS_tblCapBacNhanVien(NOLOCK) CBTCD ON CBTCD.LSCapBacNhanVienID=jt.LSCapBacNhanVienID
		--==>AnCQ6 Rlog 25568
		LEFT JOIN #tblAccountExtension (NOLOCK) ExtP ON ExtP.EmpID = AA.EmpID
		LEFT JOIN UMS_tblAccountExtension (NOLOCK) Ext ON Ext.AccountExtensionID = ExtP.AccountExtensionID
		LEFT JOIN UMS_tblTrangThai (NOLOCK) TT ON TT.MaTrangThai =  Ext.ApprovedStatus
		LEFT JOIN LS_tblStatusColor (NOLOCK) TC ON TC.StatusColorID = TT.StatusColorID
		--AnCQ6 Rlog 25568<==
		/*Tamnb rlog 25555*/
		LEFT JOIN #tmp_tblQualification (NOLOCK) Qlf ON Qlf.EmpID = PQ.EmpID
		/*Tamnb rlog 25555*/
		LEFT JOIN #tmpEmpList_YearsOfService (NOLOCK) YOS ON YOS.EmpID = AA.EmpID /*RlogID 25764 - KPMG_V34*/
		Order by AA.STT
	END --End LoadData

------------------------------------------------------------------------------------------------------
else if @Activity = 'LoadData2'
BEGIN
	if OBJECT_ID('tempdb..#Table_EmpList_LoadData2_Permission') is not null
		drop table dbo.[#Table_EmpList_LoadData2_Permission]

	create table dbo.[#Table_EmpList_LoadData2_Permission] (EmpID int)
		create index IX_Table_EmpList_LoadData2_Permission_EmpID on dbo.[#Table_EmpList_LoadData2_Permission] (EmpID)
	
	INSERT INTO dbo.[#Table_EmpList_LoadData2_Permission](EmpID)
	Select EmpID
	from dbo.fnGetAllEmp_Permission(@UserGroupID,@FunctionID)
	--------------------------------
		-- cau lenh chinh				
		set @StrSQL = N'
		select v.EmpID, v.EmpCode, v.EmpName, v.vLastName, v.vFirstName, 
			v.vLastName LastName, v.vFirstName FirstName,v.MiddleName,
			v.DOBstr, v.StartDateStr,			
			case when '''+@LanguageID+''' = ''EN'' then v.CompanyEN else v.CompanyVN end as Company,
			case when '''+@LanguageID+''' = ''EN'' then v.Level1EN else v.Level1VN end as Level1,
			case when '''+@LanguageID+''' = ''EN'' then v.Level2EN else v.Level2VN end as Level2,
			case when '''+@LanguageID+''' = ''EN'' then v.Level3EN else v.Level3VN end as Level3,
			case when '''+@LanguageID+''' = ''EN'' then v.Level4EN else v.Level4VN end as Level4, 
			case when '''+@LanguageID+''' = ''EN'' then v.Level5EN else v.Level5VN end as Level5, 
			case when '''+@LanguageID+''' = ''EN'' then v.Level6EN else v.Level6VN end as Level6, 
			case when '''+@LanguageID+''' = ''EN'' then v.Level7EN else v.Level7VN end as Level7, 
			case when '''+@LanguageID+''' = ''EN'' then v.Level8EN else v.Level8VN end as Level8, 
			case when '''+@LanguageID+''' = ''EN'' then v.Level9EN else v.Level9VN end as Level9,
			case when '''+@LanguageID+''' = ''EN'' then v.JobTitleEN else v.JobTitleVN end as JobTitle,
			case when '''+@LanguageID+''' = ''EN'' then CB.Name else CB.VNName end as CapBac,
			case when '''+@LanguageID+''' = ''EN'' then LH.Name else LH.VNName end as LoaiHinhNhanVien,
			--select them cho cac form lac loai:Xóa NV
			case when '''+@LanguageID+''' = ''EN'' then v.CompanyEN else v.CompanyVN end as CompanyName,
			case when '''+@LanguageID+''' = ''EN'' then v.Level1EN else v.Level1VN end as Level1Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level2EN else v.Level2VN end as Level2Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level3EN else v.Level3VN end as Level3Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level4EN else v.Level4VN end as Level4Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level5EN else v.Level5VN end as Level5Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level6EN else v.Level6VN end as Level6Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level7EN else v.Level7VN end as Level7Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level8EN else v.Level8VN end as Level8Name,
			case when '''+@LanguageID+''' = ''EN'' then v.Level9EN else v.Level9VN end as Level9Name,
			case when '''+@LanguageID+''' = ''EN'' then v.JobTitleEN else v.JobTitleVN end as JobTitleName,
			--end
			Mobifone, Email,
			v.Creater,convert(nvarchar,v.CreateTime,103) + '' '' + convert(nvarchar,v.CreateTime,108) as CreateDate,
			v.Editer,convert(nvarchar,v.EditTime,103) + '' '' + convert(nvarchar,v.EditTime,108) as EditDate
			,dbo.Convert_Unicode_Unsign(v.EmpName) FullNameEN'
		set @StrSQL += N' 	
		from HR_VEmp(NoLock) v			
			inner join dbo.[#Table_EmpList_LoadData2_Permission] (Nolock) PQ on PQ.EmpID = v.EmpID -- phan quyen du lieu	
		'
		if isnull(@IsChuyenKhoan,'') <> '' and @IsChuyenKhoan <> '2'
		begin
			set @StrSQL += N'
				left join 
				(
					select EmpID, dbo.[PR_fnIsChuyenKhoan](EmpID, '''+isnull(@Month,'')+''') as ISChuyenKhoanPR
					from HR_tblEmp(NoLock)
				) K on v.EmpID = K.EmpID
			'
		end
		set @StrSQL += N'			
			LEFT JOIN dbo.TER_tblTermination(NoLock) TER ON v.EmpID = TER.EmpID
			left join LS_tblCapBacNhanVien(NoLock) CB on CB.LSCapBacNhanVienID = v.LSCapBacNhanVienID
			left join LS_tblLoaiHinhNhanVien(NoLock) LH on LH.LSLoaiHinhNhanVienID = v.LSLoaiHinhNhanVienID
			left join HR_vEmpOrder(NoLock) O on v.EmpID = O.EmpID'
			if isnull (@EHDS_LSLoaiNhanVienID,'') <> ''
			begin 
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSLoaiNhanVienID+''','';'') EHDS1 ON case when isnull(EHDS1.items,'''') = '''' THEN -1 else convert(int,EHDS1.items) end = case when v.LSLoaiNhanVienID is null THEN -1 else v.LSLoaiNhanVienID end'
			end
			if isnull (@EHDS_LSNhomNhanVienID,'') <> ''
			begin 
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSNhomNhanVienID+''','';'') EHDS2 ON case when isnull(EHDS2.items,'''') = '''' THEN -1 else convert(int,EHDS2.items) end = case when v.LSNhomNhanVienID is null THEN -1 else v.LSNhomNhanVienID end'
			end						
			if isnull (@EHDS_LSCapBacNhanVienID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSCapBacNhanVienID+''','';'') EHDS3 ON case when isnull(EHDS3.items,'''') = '''' THEN -1 else convert(int,EHDS3.items) end = case when v.LSCapBacNhanVienID is null THEN -1 else v.LSCapBacNhanVienID end'
			end
			if isnull (@EHDS_LSContractTypeID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSContractTypeID+''','';'') EHDS4 ON case when isnull(EHDS4.items,'''') = '''' THEN -1 else convert(int,EHDS4.items) end = case when v.LSContractTypeID is null THEN -1 else v.LSContractTypeID end'
			end
			if isnull (@EHDS_LSStatusChangeID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSStatusChangeID+''','';'') EHDS5 ON case when isnull(EHDS5.items,'''') = '''' THEN -1 else convert(int,EHDS5.items) end = case when v.LSStatusChangeID is null THEN -1 else v.LSStatusChangeID end'
			end
			if isnull (@EHDS_Email,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_Email+''','';'') EHDS6 ON EHDS6.items = v.Email'
			end
			if isnull (@EHDS_HRCode,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_HRCode+''','';'') EHDS7 ON EHDS7.items = v.HRCode'
			end
			if isnull (@EHDS_IDNo,'') <> ''
			begin
				set @StrSQL += ' LEFT JOIN dbo.Split('''+@EHDS_IDNo+''','';'') EHDS8 ON EHDS8.items = v.IDNo'
			end
			if isnull (@EHDS_MaSoThue,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_MaSoThue+''','';'') EHDS9 ON EHDS9.items = v.MaSoThue'
			end
			if isnull (@EHDS_MaTheChamCong,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_MaTheChamCong+''','';'') EHDS10 ON EHDS10.items = v.MaTheChamCong'
			end
			if isnull (@EHDS_EmpCodeOld,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_EmpCodeOld+''','';'') EHDS11 ON EHDS11.items = v.EmpCodeOld'
			end
			if isnull (@EHDS_AccountNo,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_AccountNo+''','';'') EHDS12 ON EHDS12.items = v.AccountNo'
			end
			if isnull (@EHDS_UserGroupID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.HR_fnGetEmpIDbyUserGroupID('''+@EHDS_UserGroupID+''') EHDS13 ON EHDS13.EmpID = PQ.EmpID'
			end

			set @StrSQL += N' where 1=1'

		if isnull (@Status,'') <> '' and @Status <> '2' begin set @StrSQL += N' and (V.[Status] = '+@Status+')' end
		if @LSCompanyID is not null begin set @StrSQL += N' and (V.LSCompanyID = '+ RTRIM(@LSCompanyID) +')' end
		if @LSLevel1ID is not null begin set @StrSQL += N' and (V.LSLevel1ID = '+ RTRIM(@LSLevel1ID)+')' end
		if @LSLevel2ID is not null begin set @StrSQL += N' and (V.LSLevel2ID = '+ RTRIM(@LSLevel2ID)+')' end
		if @LSLevel3ID is not null begin set @StrSQL += N' and (V.LSLevel3ID = '+ RTRIM(@LSLevel3ID)+')' end
		if @LSLevel4ID is not null begin set @StrSQL += N' and (V.LSLevel4ID = '+ RTRIM(@LSLevel4ID)+')' end
		if @LSLevel5ID is not null begin set @StrSQL += N' and (V.LSLevel5ID = '+ RTRIM(@LSLevel5ID)+')' end
		if @LSLevel6ID is not null begin set @StrSQL += N' and (V.LSLevel6ID = '+ RTRIM(@LSLevel6ID)+')' end
		if @LSLevel7ID is not null begin set @StrSQL += N' and (V.LSLevel7ID = '+ RTRIM(@LSLevel7ID)+')' end
		if @LSLevel8ID is not null begin set @StrSQL += N' and (V.LSLevel8ID = '+ RTRIM(@LSLevel8ID)+')' end
		if @LSLevel9ID is not null begin set @StrSQL += N' and (V.LSLevel9ID = '+ RTRIM(@LSLevel9ID)+')' end
		if @LSHLevel1ID is not null begin set @StrSQL += N' and (V.LSHLevel1ID = '+ RTRIM(@LSHLevel1ID)+')' end
		if @LSHLevel2ID is not null begin set @StrSQL += N' and (V.LSHLevel2ID = '+ RTRIM(@LSHLevel2ID)+')' end
		if @LSHLevel3ID is not null begin set @StrSQL += N' and (V.LSHLevel3ID = '+ RTRIM(@LSHLevel3ID)+')' end
		if @LSHLevel4ID is not null begin set @StrSQL += N' and (V.LSHLevel4ID = '+ RTRIM(@LSHLevel4ID)+')' end
		if @LSHLevel5ID is not null begin set @StrSQL += N' and (V.LSHLevel5ID = '+ RTRIM(@LSHLevel5ID)+')' end
		if @LSHLevel6ID is not null begin set @StrSQL += N' and (V.LSHLevel6ID = '+ RTRIM(@LSHLevel6ID)+')' end
		if @LSJobTitleID is not null begin set @StrSQL += N' and (V.LSJobTitleID = '+ RTRIM(@LSJobTitleID)+')' end
		if @LSLocationID is not null begin set @StrSQL += N' and (V.LSLocationID = '+ RTRIM(@LSLocationID)+')' end
		if @LSLoaiHinhNhanVienID is not null begin set @StrSQL += N' and (V.LSLoaiHinhNhanVienID = '+ RTRIM(@LSLoaiHinhNhanVienID)+')' end
		if isnull (@EmpCode,'') <> '' begin set @strSQL += N' and (V.EmpCode like N''%' + @EmpCode + '%'')' end
		if isnull (@EmpName,'') <> '' begin set @strSQL += N' and (V.EmpName like N''%'+ @EmpName +'%'' or V.EmpName_Unsign like N''%'+ @EmpName +'%'')' end		
			--danh cho tinh luong
		if @LSCapBacNhanVienID is not null begin set @StrSQL = N' and (V.LSCapBacNhanVienID = '+ RTRIM(@LSCapBacNhanVienID)+')' end
		if @LSLoaiNhanVienID is not null begin set @StrSQL += N' and (V.LSLoaiNhanVienID = '+ RTRIM(@LSLoaiNhanVienID)+')' end
		if @LSNhomNhanVienID is not null begin set @StrSQL += N' and (V.LSNhomNhanVienID = '+ RTRIM(@LSNhomNhanVienID)+')' end

		if(@dStartDateFrom <> @dBeginDate and @dStartDateTo <> @dEndDate) begin set @StrSQL += N' and(v.StartDate between '''+convert(nvarchar(10),@dStartDateFrom,23)+''' and '''+convert(nvarchar(10),@dStartDateTo,23)+''')' end

		if(isnull(@NgayThoiViec_Tu,'') <> '' and isnull(@NgayThoiViec_Den,'') <> '')
		begin
			set @StrSQL += N' and(
					(TER.EffectDate BETWEEN '''+convert(nvarchar(10),@dNgayThoiViec_Tu,23)+''' AND '''+convert(nvarchar(10),@dNgayThoiViec_Den,23)+''') 
					AND 
					('''+@NgayThoiViec_Tu+''' <> '''' OR '''+@NgayThoiViec_Den+''' <> ''''))'
		end
		
		if isnull(@IsChuyenKhoan,'') <> '' and @IsChuyenKhoan <> '2' begin set @StrSQL += N' and(K.ISChuyenKhoanPR = '+@IsChuyenKhoan+')' end
		--tim kiem theo combocheckBox or CheckBoxList
		if isnull (@strLSLoaiNhanVienID,'') <> '' begin set @strSQL += N' and (charindex(''@'' + convert(nvarchar(12), isnull(v.LSLoaiNhanVienID, '''')) + ''@'' , ''@' + @strLSLoaiNhanVienID + ', 0) > 0)' end
		if isnull (@multiEmpCode,'') <> '' begin set @strSQL += N' and('';'' + '''+@multiEmpCode+''' + '';'' LIKE ''%;'' + v.EmpCode + '';%'')' end
		
		if isnull (@EHDS_LSLoaiNhanVienID,'') <> '' begin set @StrSQL += N' and (EHDS1.items IS NOT NULL)' end
		if isnull (@EHDS_LSNhomNhanVienID,'') <> '' begin set @StrSQL += N' and (EHDS2.items IS NOT NULL)' end
		if isnull (@EHDS_LSCapBacNhanVienID,'') <> '' begin set @StrSQL += N' and (EHDS3.items IS NOT NULL)' end
		if isnull (@EHDS_LSContractTypeID,'') <> '' begin set @StrSQL += N' and (EHDS4.items IS NOT NULL)' end
		if isnull (@EHDS_LSStatusChangeID,'') <> '' begin set @StrSQL += N' and (EHDS5.items IS NOT NULL)' end
		if isnull (@EHDS_Email,'') <> '' begin set @StrSQL += N' and (EHDS6.items IS NOT NULL)' end
		if isnull (@EHDS_HRCode,'') <> '' begin set @StrSQL += N' and (EHDS7.items IS NOT NULL)' end
		if isnull (@EHDS_IDNo,'') <> '' begin set @StrSQL += N' and (EHDS8.items IS NOT NULL)' end
		if isnull (@EHDS_MaSoThue,'') <> '' begin set @StrSQL += N' and (EHDS9.items IS NOT NULL)' end
		if isnull (@EHDS_MaTheChamCong,'') <> '' begin set @StrSQL += N' and (EHDS10.items IS NOT NULL)' end
		if isnull (@EHDS_EmpCodeOld,'') <> '' begin set @StrSQL += N' and (EHDS11.items IS NOT NULL)' end
		if isnull (@EHDS_AccountNo,'') <> '' begin set @StrSQL += N' and (EHDS12.items IS NOT NULL)' end
		if isnull (@EHDS_UserGroupID,'') <> '' begin set @StrSQL += N' and (EHDS13.EmpID IS NOT NULL)' end
		set @StrSQL += N' 
		Order by O.Orderby'	
	
		print @strSQL
		exec (@strSQL)	
			
	END --End LoadData

-------------------------------------------------------------------------------------------------------
else if @Activity='LoadData3'
begin
	if OBJECT_ID('tempdb..#Table_EmpList_LoadData3_Permission') is not null
		drop table dbo.[#Table_EmpList_LoadData3_Permission]

	create table dbo.[#Table_EmpList_LoadData3_Permission] (EmpID int)
		create index IX_Table_EmpList_LoadData3_Permission_EmpID on dbo.[#Table_EmpList_LoadData3_Permission] (EmpID)
	
	INSERT INTO dbo.[#Table_EmpList_LoadData3_Permission](EmpID)
	Select EmpID
	from dbo.fnGetAllEmp_Permission(@UserGroupID,@FunctionID)

	set @StrSQL = N'
		select	v.EmpID, EmpCode, EmpName, EmpName + '' - '' + EmpCode as EmpInfo
				,dbo.Convert_Unicode_Unsign(v.EmpName) FullNameEN
		from HR_VEmp(NoLock) v
		inner join dbo.[#Table_EmpList_LoadData3_Permission] (Nolock) PQ on PQ.EmpID = v.EmpID
		left join HR_vEmpOrder(NoLock) O on v.EmpID = O.EmpID'
			if isnull (@EHDS_LSLoaiNhanVienID,'') <> ''
			begin 
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSLoaiNhanVienID+''','';'') EHDS1 ON case when isnull(EHDS1.items,'''') = '''' THEN -1 else convert(int,EHDS1.items) end = case when v.LSLoaiNhanVienID is null THEN -1 else v.LSLoaiNhanVienID end'
			end
			if isnull (@EHDS_LSNhomNhanVienID,'') <> ''
			begin 
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSNhomNhanVienID+''','';'') EHDS2 ON case when isnull(EHDS2.items,'''') = '''' THEN -1 else convert(int,EHDS2.items) end = case when v.LSNhomNhanVienID is null THEN -1 else v.LSNhomNhanVienID end'
			end						
			if isnull (@EHDS_LSCapBacNhanVienID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSCapBacNhanVienID+''','';'') EHDS3 ON case when isnull(EHDS3.items,'''') = '''' THEN -1 else convert(int,EHDS3.items) end = case when v.LSCapBacNhanVienID is null THEN -1 else v.LSCapBacNhanVienID end'
			end
			if isnull (@EHDS_LSContractTypeID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSContractTypeID+''','';'') EHDS4 ON case when isnull(EHDS4.items,'''') = '''' THEN -1 else convert(int,EHDS4.items) end = case when v.LSContractTypeID is null THEN -1 else v.LSContractTypeID end'
			end
			if isnull (@EHDS_LSStatusChangeID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_LSStatusChangeID+''','';'') EHDS5 ON case when isnull(EHDS5.items,'''') = '''' THEN -1 else convert(int,EHDS5.items) end = case when v.LSStatusChangeID is null THEN -1 else v.LSStatusChangeID end'
			end
			if isnull (@EHDS_Email,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_Email+''','';'') EHDS6 ON EHDS6.items = v.Email'
			end
			if isnull (@EHDS_HRCode,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_HRCode+''','';'') EHDS7 ON EHDS7.items = v.HRCode'
			end
			if isnull (@EHDS_IDNo,'') <> ''
			begin
				set @StrSQL += ' LEFT JOIN dbo.Split('''+@EHDS_IDNo+''','';'') EHDS8 ON EHDS8.items = v.IDNo'
			end
			if isnull (@EHDS_MaSoThue,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_MaSoThue+''','';'') EHDS9 ON EHDS9.items = v.MaSoThue'
			end
			if isnull (@EHDS_MaTheChamCong,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_MaTheChamCong+''','';'') EHDS10 ON EHDS10.items = v.MaTheChamCong'
			end
			if isnull (@EHDS_EmpCodeOld,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_EmpCodeOld+''','';'') EHDS11 ON EHDS11.items = v.EmpCodeOld'
			end
			if isnull (@EHDS_AccountNo,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.Split('''+@EHDS_AccountNo+''','';'') EHDS12 ON EHDS12.items = v.AccountNo'
			end
			if isnull (@EHDS_UserGroupID,'') <> ''
			begin
				set @StrSQL += N' LEFT JOIN dbo.HR_fnGetEmpIDbyUserGroupID('''+@EHDS_UserGroupID+''') EHDS13 ON EHDS13.EmpID = PQ.EmpID'
			end

		set	@StrSQL += N' where 1=1'

		if isnull (@Status,'') <> '' and @Status <> '2' begin set @StrSQL += N' and (V.[Status] = '+@Status+')' end
		if @LSCompanyID is not null begin set @StrSQL += N' and (V.LSCompanyID = '+ RTRIM(@LSCompanyID) +')' end
		if @LSLevel1ID is not null begin set @StrSQL += N' and (V.LSLevel1ID = '+ RTRIM(@LSLevel1ID)+')' end
		if @LSLevel2ID is not null begin set @StrSQL += N' and (V.LSLevel2ID = '+ RTRIM(@LSLevel2ID)+')' end
		if @LSLevel3ID is not null begin set @StrSQL += N' and (V.LSLevel3ID = '+ RTRIM(@LSLevel3ID)+')' end
		if @LSLevel4ID is not null begin set @StrSQL += N' and (V.LSLevel4ID = '+ RTRIM(@LSLevel4ID)+')' end
		if @LSLevel5ID is not null begin set @StrSQL += N' and (V.LSLevel5ID = '+ RTRIM(@LSLevel5ID)+')' end
		if @LSLevel6ID is not null begin set @StrSQL += N' and (V.LSLevel6ID = '+ RTRIM(@LSLevel6ID)+')' end
		if @LSLevel7ID is not null begin set @StrSQL += N' and (V.LSLevel7ID = '+ RTRIM(@LSLevel7ID)+')' end
		if @LSLevel8ID is not null begin set @StrSQL += N' and (V.LSLevel8ID = '+ RTRIM(@LSLevel8ID)+')' end
		if @LSLevel9ID is not null begin set @StrSQL += N' and (V.LSLevel9ID = '+ RTRIM(@LSLevel9ID)+')' end
		if @LSHLevel1ID is not null begin set @StrSQL += N' and (V.LSHLevel1ID = '+ RTRIM(@LSHLevel1ID)+')' end
		if @LSHLevel2ID is not null begin set @StrSQL += N' and (V.LSHLevel2ID = '+ RTRIM(@LSHLevel2ID)+')' end
		if @LSHLevel3ID is not null begin set @StrSQL += N' and (V.LSHLevel3ID = '+ RTRIM(@LSHLevel3ID)+')' end
		if @LSHLevel4ID is not null begin set @StrSQL += N' and (V.LSHLevel4ID = '+ RTRIM(@LSHLevel4ID)+')' end
		if @LSHLevel5ID is not null begin set @StrSQL += N' and (V.LSHLevel5ID = '+ RTRIM(@LSHLevel5ID)+')' end
		if @LSHLevel6ID is not null begin set @StrSQL += N' and (V.LSHLevel6ID = '+ RTRIM(@LSHLevel6ID)+')' end
		if @LSJobTitleID is not null begin set @StrSQL += N' and (V.LSJobTitleID = '+ RTRIM(@LSJobTitleID)+')' end
		if @LSLocationID is not null begin set @StrSQL += N' and (V.LSLocationID = '+ RTRIM(@LSLocationID)+')' end
		if @LSLoaiHinhNhanVienID is not null begin set @StrSQL += N' and (V.LSLoaiHinhNhanVienID = '+ RTRIM(@LSLoaiHinhNhanVienID)+')' end
		if isnull (@EmpCode,'') <> '' begin set @strSQL += N' and (V.EmpCode like N''%' + @EmpCode + '%'')' end
		if isnull (@EmpName,'') <> '' begin set @strSQL += N' and (V.EmpName like N''%'+ @EmpName +'%'' or V.EmpName_Unsign like N''%'+ @EmpName +'%'')' end
		
		if isnull (@EmpListSearch,'') <> '' begin set @strSQL += N' and (charindex('','' + convert(nvarchar(12), v.EmpID) + '','' , '',' + @EmpListSearch + ') > 0)' end
		if isnull (@NotEmpListSearch,'') <> '' begin set @strSQL += N' and (charindex('','' + convert(nvarchar(12), v.EmpID) + '','' , '',' + @EmpListSearch + ') <= 0)' end

		if isnull (@EHDS_LSLoaiNhanVienID,'') <> '' begin set @StrSQL += N' and (EHDS1.items IS NOT NULL)' end
		if isnull (@EHDS_LSNhomNhanVienID,'') <> '' begin set @StrSQL += N' and (EHDS2.items IS NOT NULL)' end
		if isnull (@EHDS_LSCapBacNhanVienID,'') <> '' begin set @StrSQL += N' and (EHDS3.items IS NOT NULL)' end
		if isnull (@EHDS_LSContractTypeID,'') <> '' begin set @StrSQL += N' and (EHDS4.items IS NOT NULL)' end
		if isnull (@EHDS_LSStatusChangeID,'') <> '' begin set @StrSQL += N' and (EHDS5.items IS NOT NULL)' end
		if isnull (@EHDS_Email,'') <> '' begin set @StrSQL += N' and (EHDS6.items IS NOT NULL)' end
		if isnull (@EHDS_HRCode,'') <> '' begin set @StrSQL += N' and (EHDS7.items IS NOT NULL)' end
		if isnull (@EHDS_IDNo,'') <> '' begin set @StrSQL += N' and (EHDS8.items IS NOT NULL)' end
		if isnull (@EHDS_MaSoThue,'') <> '' begin set @StrSQL += N' and (EHDS9.items IS NOT NULL)' end
		if isnull (@EHDS_MaTheChamCong,'') <> '' begin set @StrSQL += N' and (EHDS10.items IS NOT NULL)' end
		if isnull (@EHDS_EmpCodeOld,'') <> '' begin set @StrSQL += N' and (EHDS11.items IS NOT NULL)' end
		if isnull (@EHDS_AccountNo,'') <> '' begin set @StrSQL += N' and (EHDS12.items IS NOT NULL)' end
		if isnull (@EHDS_UserGroupID,'') <> '' begin set @StrSQL += N' and (EHDS13.EmpID IS NOT NULL)' end
		set @StrSQL += N' 
		Order by O.Orderby'

		print @strSQL
		exec (@strSQL)	
end

-------------------------------------------------------------------------------------------------------
else if @Activity='CountEmployee'
begin
	--QuangPNV giới hạn chức năng sử dụng
	if (@FunctionID in (4134,1563002160,6170, 6200, 6223))
	begin
		select COUNT(EmpID) as SoLuongNhanVien	
		from dbo.fnGetAllEmp_Permission(@UserGroupID, @FunctionID)
	end
	else
	begin
		select 0 as SoLuongNhanVien
	end
end

-------------------------------------------------------------------------------------------------------
else if @Activity='GetDataEmpTextBox'
begin
	if OBJECT_ID('tempdb..#Table_DataEmpTextBox') is not null
		Drop table dbo.[#Table_DataEmpTextBox]

	create table dbo.[#Table_DataEmpTextBox] (EmpID int)
		create index IX_Table_DataEmpTextBox_EmpID on dbo.[#Table_DataEmpTextBox] (EmpID)
	
	set @SearchText = isnull(@SearchText,'')

	if(@SearchText <> '')
	BEGIN
		INSERT INTO dbo.[#Table_DataEmpTextBox](EmpID)
		Select EmpID
		from dbo.fnGetAllEmp_Permission(@UserGroupID,@FunctionID)

		Select E.EmpID, E.EmpCode, E.EmpName		
		from HR_vEmp (Nolock) E
		INNER JOIN dbo.[#Table_DataEmpTextBox] (Nolock) T on T.EmpID = E.EmpID
		Where 1 = 1
		AND	
		(
			E.EmpCode like N'%' + @SearchText + '%' OR
			E.EmpName like N'%' + @SearchText + '%' OR
			dbo.[Convert_Unicode_Unsign](E.EmpCode) like N'%' + @SearchText + '%' OR
			dbo.[Convert_Unicode_Unsign](E.EmpName) like N'%' + @SearchText + '%'
		)	
	END
	ELSE
	BEGIN
		Select TOP 1 null as EmpID, null as EmpCode, null as EmpName		
		from HR_tblEmp (Nolock)
		where 1 = 0 /*QuangPNV chỉnh không có dữ liệu, nhưng vẫn có cấu trúc*/
	END
end

if @@Error <> 0
	BEGIN
		set	@EMPID = -1
		set	@ReturnMess = ''
	END
