USE [iHRP_V34_KPMG]
GO
/****** Object:  StoredProcedure [dbo].[LS_spfrmTerminationType]    Script Date: 5/7/2026 2:35:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[LS_spfrmTerminationType]
@Activity				varchar(50),
@UserGroupID			varchar(50) = null,
@LanguageID				nchar(2)	= 'EN',
@ReturnMess				nvarchar(500) = null out,
@LSTerminationTypeID	nvarchar(12) = null,
@LSTerminationTypeCode	nvarchar(15) = null,
@Name					nvarchar(150) = null,
@VNName					nvarchar(150) = null,
@KhongBaoGiamBH			bit = null,
@AllowanceRate			float =null,
@ShortName				NVARCHAR(255) = null,
@Rank					SmallInt = null,
@Note					nvarchar(255) = null,
@Used					bit = 1,
@where					nvarchar(1000)=null,
@IsForeigner			bit=1,
@DuocTinhTroCapMatViec	bit=0,
@LSCompanyID			int = null,
@LSLevel1ID				int = null,
@LSLevel2ID				int = null,
@LSLevel3ID				int = null,
@LSTerminationTypeGroupID int = null,
@LoaiThoiViec           nvarchar(100) = NULL,
--Start Coding RlogID: 15042 - CVN - NhanHM4 - 26/03/2020
@BlackList				BIT = NULL,
--End   Coding RlogID: 15042 - CVN - NhanHM4 - 26/03/2020
--Rlog 19857 -Yamaha - Vunm11 02/08/2023
@DuocTinhTroCapThoiViec BIT = null,
--End Rlog 19857 -Yamaha - Vunm11 02/08/2023
/*
ThoiViecThuong, ChuyenSangDonViKhac,NghiHuu,BiSaThai
*/
--Rlog: TungTT83 - 05/09/2023
@LSHinhThucThoiViecID int = NULL,
--End Rlog: TungTT83 - 05/09/2023
@RefID			BIGINT = NULL OUT--Rlog 19967 - TungTT83 - DXG - MasterData

AS
if @Activity = 'GetData'
	BEGIN		
			select LSTerminationTypeID,LSTerminationTypeCode,TT.Name,TT.VNName,TT.Rank,TT.ShortName,
					case KhongBaoGiamBH when 1 then 'X' else '' end as KhongBaoGiamBH,TT.Note, AllowanceRate,
					case TT.Used when 1 then 'X' else '' end as Used ,
					case DuocTinhTroCapMatViec when 1 then 'X' else '' end as DuocTinhTroCapMatViec,					
					case DuocTinhTroCapThoiViec when 1 then 'X' else '' end as DuocTinhTroCapThoiViec,					
					TT.LSCompanyID,TT.LSLevel1ID,TT.LSLevel2ID,TT.LSLevel3ID,
					Case when @LanguageID = 'VN' then C.VNName else C.Name end Company,
					Case when @LanguageID = 'VN' then l1.VNName else l1.Name end Level1,
					case when @LanguageID = 'VN' then l2.VNName else l2.Name end Level2,
					case when @LanguageID = 'VN' then l3.VNName else l3.Name end Level3,
					case when @LanguageID = 'VN' then HTTV.VNName else HTTV.Name end HinhThucThoiViec,
					case when @LanguageID = 'VN' then TTG.VNName else TTG.Name end TerminationTypeGroup,
					case LoaiThoiViec 
					when 'ThoiViecThuong' then (case when @LanguageID = 'VN' then N'Thôi việc thường'  else N'Termination default' end)
					when 'ChuyenSangDonViKhac' then (case when @LanguageID = 'VN'  then N'Chuyển sang đơn vị khác' else N'Switch to another unit' end)
					when 'NghiHuu' then (case when @LanguageID = 'VN'  then N'Nghỉ hưu' else N'Retirement' end)
					when 'BiSaThai' then (case when @LanguageID = 'VN' then N'Bị sa thải'  else N'Fired' end)
					else '' end LoaiThoiViec,
					case TT.BlackList when 1 then 'X' else '' end as BlackList

			from dbo.LS_tblTerminationType (Nolock) TT
			left join LS_tblCompany (Nolock) C on C.LSCompanyID = TT.LSCompanyID
			left join LS_tblLevel1 (nolock) l1 on l1.LSLevel1ID = TT.LSLevel1ID
			left join LS_tblLevel2 (nolock) l2 on l2.LSLevel2ID = TT.LSLevel2ID
			left join LS_tblLevel3 (nolock) l3 on l3.LSLevel3ID = TT.LSLevel3ID
			left join LS_tblTerminationTypeGroup(nolock) TTG on TT.LSTerminationTypeGroupID = TTG.LSTerminationTypeGroupID
			left join LS_tblHinhThucThoiViec (nolock) HTTV on TT.LSHinhThucThoiViecID = HTTV.LSHinhThucThoiViecID
			WHERE 1 = 1
			and ( @LSTerminationTypeCode is null or @LSTerminationTypeCode = '' or TT.LSTerminationTypeCode like N'%'+@LSTerminationTypeCode+'%')
			and ( @ShortName is null or @ShortName = '' or TT.ShortName like N'%'+@ShortName+'%')
			and ( @Name is null or @Name = '' or TT.Name like N'%'+@Name+'%')
			and ( @LoaiThoiViec is null or @LoaiThoiViec = 'All' or TT.LoaiThoiViec like N'%'+@LoaiThoiViec +'%')
			and ( @VNName is null or @VNName = '' or TT.VNName like N'%'+@VNName+'%')
			and ( @LSCompanyID is null or TT.LScompanyID = @LSCompanyID)
			and ( @LSLevel1ID is null or TT.LSLevel1ID = @LSLevel1ID)
			and ( @LSLevel2ID is null or TT.LSLevel2ID = @LSLevel2ID)
			and ( @LSLevel3ID is null or TT.LSLevel3ID = @LSLevel3ID)
			AND ( @LSTerminationTypeGroupID IS NULL OR TT.LSTerminationTypeGroupID = @LSTerminationTypeGroupID )
			AND ( @LSHinhThucThoiViecID IS NULL OR TT.LSHinhThucThoiViecID = @LSHinhThucThoiViecID )
			Order by isnull(TT.Used,0) desc, isnull(TT.Rank, 999)
	END

else if @Activity = 'GetDataCombo'
	BEGIN
		select LSTerminationTypeID Ma,[Name] Ten,Rank from LS_tblTerminationType (nolock) 
		union 
		select '','','' order by Rank
	END

else If @Activity ='Save'
	BEGIN
		if exists (select top 1 1 from dbo.LS_tblTerminationType (nolock) WHERE LSTerminationTypeCode = @LSTerminationTypeCode)
		BEGIN
			set @ReturnMess = dbo.SYS_fnGetMess('0053',@LanguageID)
			Return
		END

		--Update Seq - 28/01/2019 - NhanHM4
		EXEC [dbo].[SYS_spGetAutoID_UpdateSeq] @TableName='LS_tblTerminationType',@ColumnName='LSTerminationTypeID',@Seq=@LSTerminationTypeID OUTPUT
				
		INSERT INTO LS_tblTerminationType
		(
			LSTerminationTypeID,LSTerminationTypeCode,Name,VNName,ShortName,
			KhongBaoGiamBH,Rank,Note,Used,IsForeigner, AllowanceRate,DuocTinhTroCapMatViec,
			LSCompanyID,LSLevel1ID,LSLevel2ID,LSLevel3ID,LSHinhThucThoiViecID,LSTerminationTypeGroupID,LoaiThoiViec,BlackList,DuocTinhTroCapThoiViec
		)
		VALUES
		(
			@LSTerminationTypeID,@LSTerminationTypeCode,@Name,@VNName,@ShortName,
			@KhongBaoGiamBH,@Rank,@Note,@Used,@IsForeigner, @AllowanceRate, @DuocTinhTroCapMatViec,		
			@LSCompanyID,@LSLevel1ID,@LSLevel2ID,@LSLevel3ID,@LSHinhThucThoiViecID,@LSTerminationTypeGroupID,@LoaiThoiViec,@BlackList, @DuocTinhTroCapThoiViec
		)			

		SET @RefID = @LSTerminationTypeID --Rlog 19967 - TungTT83 - DXG - MasterData
	END
else If @Activity = 'Update'
	BEGIN
		if exists (select top 1 1 from dbo.LS_tblTerminationType (nolock) WHERE LSTerminationTypeCode = @LSTerminationTypeCode and LSTerminationTypeID <> @LSTerminationTypeID)
		BEGIN
			set @ReturnMess = dbo.SYS_fnGetMess('0053',@LanguageID)
			Return
		END

		UPDATE LS_tblTerminationType
		SET
			LSTerminationTypeCode = @LSTerminationTypeCode,
			Name = @Name,
			VNName = @VNName,
			KhongBaoGiamBH = @KhongBaoGiamBH,
			Rank = @Rank,
			Note = @Note,
			Used = @Used,
			IsForeigner=@IsForeigner,
			AllowanceRate = @AllowanceRate,
			ShortName = @ShortName,
			DuocTinhTroCapMatViec = @DuocTinhTroCapMatViec,
			LSCompanyID = @LSCompanyID,
			LSLevel1ID = @LSLevel1ID,
			LSLevel2ID = @LSLevel2ID,
			LSLevel3ID = @LSLevel3ID,
			LSHinhThucThoiViecID = @LSHinhThucThoiViecID,
			LSTerminationTypeGroupID = @LSTerminationTypeGroupID,
			LoaiThoiViec = @LoaiThoiViec,
			BlackList = @BlackList,
			DuocTinhTroCapThoiViec = @DuocTinhTroCapThoiViec
		WHERE LSTerminationTypeID = @LSTerminationTypeID
	END

else If @Activity = 'Delete'
	BEGIN
		DELETE FROM LS_tblTerminationType
		WHERE LSTerminationTypeID = @LSTerminationTypeID		
	END

else If @Activity = 'LoadDataByID'
	BEGIN
		SELECT	LSTerminationTypeID, LSTerminationTypeCode, Name, VNName,
				ShortName,isnull(KhongBaoGiamBH,0)KhongBaoGiamBH,AllowanceRate,Rank, Note, Used,IsForeigner,isnull(DuocTinhTroCapMatViec,0)DuocTinhTroCapMatViec, isnull(DuocTinhTroCapThoiViec,0) DuocTinhTroCapThoiViec,
				LSCompanyID,LSLevel1ID,LSLevel2ID,LSLevel3ID,LSHinhThucThoiViecID,LSTerminationTypeGroupID,case when isnull(LoaiThoiViec,'') = '' then 'ThoiViecThuong' else LoaiThoiViec end LoaiThoiViec,
				ISNULL(BlackList, 0) BlackList
		FROM LS_tblTerminationType (nolock)
		WHERE LSTerminationTypeID = @LSTerminationTypeID
	END
--Start Coding RlogID: 15042 - CVN - NhanHM4 - 26/03/2020
else If @Activity = 'CheckChuyenDonViKhac_BlackList' -- KhoiPT thêm field 'IsChuyenDonViKhac' để làm Rlog 12098 
 	BEGIN
		SELECT	case when isnull(LoaiThoiViec,'') ='ChuyenSangDonViKhac' then 1 else 0 end IsChuyenDonViKhac
		, CASE WHEN ISNULL(BlackList, 0) = 0 THEN 0 ELSE 1 END BlackList
		FROM LS_tblTerminationType (nolock)
		WHERE LSTerminationTypeID = @LSTerminationTypeID
	END
--End   Coding RlogID: 15042 - CVN - NhanHM4 - 26/03/2020
	
	
